In [1]:
print("file can run!")

file can run!

In [2]:
import yfinance as yf

def get_data(token,duration,inter=5):
    dat=yf.download(tickers=token, period=f"{duration}d", interval=f"{inter}m")
    dat.to_csv(f"{token}_{duration}.csv")

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd

# constants
tokens = ["TCS.NS", "^NSEI", "^NSEBANK", "INFY.NS", "HINDUNILVR.BO",'RIGDL.XC']
token = tokens[-1]
duration = 60
test_len = 300
# get_data(token, duration)
df = pd.read_csv('DABUR_with_indicators_.csv')

In [5]:
df=df[['Datetime','Open','High','Low','Close']]
df['Datetime']=pd.to_datetime(df['Datetime'])
df.head(10)

                   Datetime    Open    High     Low   Close
0 2015-02-02 14:30:00+05:30  259.00  259.25  258.80  258.80
1 2015-02-02 14:35:00+05:30  258.80  259.25  258.60  259.10
2 2015-02-02 14:40:00+05:30  259.15  259.90  258.60  259.50
3 2015-02-02 14:45:00+05:30  259.50  259.95  259.25  259.80
4 2015-02-02 14:50:00+05:30  259.80  260.25  259.70  260.20
5 2015-02-02 14:55:00+05:30  260.25  261.00  260.00  260.90
6 2015-02-02 15:00:00+05:30  260.55  261.35  260.50  260.85
7 2015-02-02 15:05:00+05:30  261.00  261.45  260.45  261.30
8 2015-02-02 15:10:00+05:30  261.45  261.55  260.75  261.20
9 2015-02-02 15:15:00+05:30  261.20  261.20  260.25  260.75

In [6]:
df.describe()

                Open           High            Low          Close
count  130347.000000  130347.000000  130347.000000  130347.000000
mean      394.644467     395.099938     394.162193     394.638463
std       110.449912     110.563432     110.318106     110.446056
min       231.700000     232.450000     231.500000     231.800000
25%       286.950000     287.150000     286.600000     286.950000
50%       384.100000     384.550000     383.750000     384.150000
75%       487.300000     487.900000     486.700000     487.325000
max       658.100000     658.850000     657.300000     658.000000

In [7]:
#add day of  features
df['day_week']=df['Datetime'].dt.dayofweek
df['day_month']=df['Datetime'].dt.day
df['month']=df['Datetime'].dt.month

df['time']=df['Datetime'].map(lambda a:(pd.Timedelta(a-pd.to_datetime('2023-1-14 9:15:00+05:30'))/pd.Timedelta('5m'))%(24*12))

In [8]:
df.head(75)

,Datetime,Open,High,Low,Close,day_week,day_month,month,time
0,2015-02-02 14:30:00+05:30,259.00,259.25,258.80,258.80,0,2,2,63.0
1,2015-02-02 14:35:00+05:30,258.80,259.25,258.60,259.10,0,2,2,64.0
2,2015-02-02 14:40:00+05:30,259.15,259.90,258.60,259.50,0,2,2,65.0
3,2015-02-02 14:45:00+05:30,259.50,259.95,259.25,259.80,0,2,2,66.0
4,2015-02-02 14:50:00+05:30,259.80,260.25,259.70,260.20,0,2,2,67.0
...,...,...,...,...,...,...,...,...,...
70,2015-02-03 14:05:00+05:30,265.10,265.15,264.90,265.00,1,3,2,58.0
71,2015-02-03 14:10:00+05:30,265.15,265.25,264.90,264.90,1,3,2,59.0
72,2015-02-03 14:15:00+05:30,264.90,265.20,264.80,264.85,1,3,2,60.0
73,2015-02-03 14:20:00+05:30,264.85,265.30,263.40,264.25,1,3,2,61.0
74,2015-02-03 14:25:00+05:30,264.25,264.50,262.00,263.65,1,3,2,62.0

In [23]:
test_len=1200

In [24]:
# dividing test and train
train = df[:-test_len]
test = df[-test_len:]

In [25]:
test

,Datetime,Open,High,Low,Close,day_week,day_month,month,time
129147,2022-01-28 09:15:00+05:30,533.25,536.60,531.20,536.45,4,28,1,0.0
129148,2022-01-28 09:20:00+05:30,536.60,537.95,536.00,537.60,4,28,1,1.0
129149,2022-01-28 09:25:00+05:30,537.60,539.65,537.50,538.75,4,28,1,2.0
129150,2022-01-28 09:30:00+05:30,538.75,540.35,538.15,540.15,4,28,1,3.0
129151,2022-01-28 09:35:00+05:30,540.15,541.00,539.25,540.65,4,28,1,4.0
...,...,...,...,...,...,...,...,...,...
130342,2022-02-18 15:05:00+05:30,548.90,549.10,548.05,548.40,4,18,2,70.0
130343,2022-02-18 15:10:00+05:30,548.45,548.50,548.00,548.00,4,18,2,71.0
130344,2022-02-18 15:15:00+05:30,548.00,548.10,546.90,547.25,4,18,2,72.0
130345,2022-02-18 15:20:00+05:30,547.30,547.40,547.05,547.05,4,18,2,73.0
130346,2022-02-18 15:25:00+05:30,547.05,547.05,546.00,546.20,4,18,2,74.0

In [11]:
train

,Datetime,Open,High,Low,Close,day_week,day_month,month,time
0,2015-02-02 14:30:00+05:30,259.00,259.25,258.80,258.8,0,2,2,63.0
1,2015-02-02 14:35:00+05:30,258.80,259.25,258.60,259.1,0,2,2,64.0
2,2015-02-02 14:40:00+05:30,259.15,259.90,258.60,259.5,0,2,2,65.0
3,2015-02-02 14:45:00+05:30,259.50,259.95,259.25,259.8,0,2,2,66.0
4,2015-02-02 14:50:00+05:30,259.80,260.25,259.70,260.2,0,2,2,67.0
...,...,...,...,...,...,...,...,...,...
130042,2022-02-14 15:05:00+05:30,554.20,555.00,553.20,553.5,0,14,2,70.0
130043,2022-02-14 15:10:00+05:30,553.55,554.25,552.35,553.3,0,14,2,71.0
130044,2022-02-14 15:15:00+05:30,551.75,553.70,551.75,552.8,0,14,2,72.0
130045,2022-02-14 15:20:00+05:30,552.80,553.40,552.15,553.2,0,14,2,73.0
130046,2022-02-14 15:25:00+05:30,553.15,553.65,550.85,553.2,0,14,2,74.0

In [26]:
# making target 
train['Open_lag']=train.copy()['Open'].shift(-3)
test['Open_lag']=test.copy()['Open'].shift(-3)

In [13]:
test

,Datetime,Open,High,Low,Close,day_week,day_month,month,time,Open_lag
130047,2022-02-15 09:15:00+05:30,552.50,557.10,551.00,557.10,1,15,2,0.0,558.85
130048,2022-02-15 09:20:00+05:30,556.80,558.55,556.20,557.95,1,15,2,1.0,557.65
130049,2022-02-15 09:25:00+05:30,557.65,558.80,556.65,558.40,1,15,2,2.0,556.60
130050,2022-02-15 09:30:00+05:30,558.85,559.35,557.50,557.65,1,15,2,3.0,553.45
130051,2022-02-15 09:35:00+05:30,557.65,557.65,556.55,556.90,1,15,2,4.0,551.45
...,...,...,...,...,...,...,...,...,...,...
130342,2022-02-18 15:05:00+05:30,548.90,549.10,548.05,548.40,4,18,2,70.0,547.30
130343,2022-02-18 15:10:00+05:30,548.45,548.50,548.00,548.00,4,18,2,71.0,547.05
130344,2022-02-18 15:15:00+05:30,548.00,548.10,546.90,547.25,4,18,2,72.0,NaN
130345,2022-02-18 15:20:00+05:30,547.30,547.40,547.05,547.05,4,18,2,73.0,NaN
130346,2022-02-18 15:25:00+05:30,547.05,547.05,546.00,546.20,4,18,2,74.0,NaN

In [35]:
train

,Datetime,Open,High,Low,Close,day_week,day_month,month,time,Open_lag,Tar,Open_lag_6,Open_lag_3,Close_lag_6,Close_lag_3,Open_moving_avg_6,Open_moving_avg_3
6,2015-02-02 15:00:00+05:30,260.55,261.35,260.50,260.85,0,2,2,69.0,261.20,1,259.00,259.50,258.80,259.80,259.675000,260.200000
7,2015-02-02 15:05:00+05:30,261.00,261.45,260.45,261.30,0,2,2,70.0,260.75,0,258.80,259.80,259.10,260.20,260.041667,260.600000
8,2015-02-02 15:10:00+05:30,261.45,261.55,260.75,261.20,0,2,2,71.0,262.85,1,259.15,260.25,259.50,260.90,260.425000,261.000000
9,2015-02-02 15:15:00+05:30,261.20,261.20,260.25,260.75,0,2,2,72.0,263.00,1,259.50,260.55,259.80,260.85,260.708333,261.216667
10,2015-02-02 15:20:00+05:30,260.75,263.20,260.20,262.85,0,2,2,73.0,263.60,1,259.80,261.00,260.20,261.30,260.866667,261.133333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129139,2022-01-27 14:50:00+05:30,529.95,530.75,529.50,529.70,3,27,1,67.0,529.20,0,529.40,529.70,529.15,529.50,529.600000,529.866667
129140,2022-01-27 14:55:00+05:30,529.70,530.00,529.40,529.50,3,27,1,68.0,529.10,0,529.10,529.50,529.45,530.10,529.700000,529.933333
129141,2022-01-27 15:00:00+05:30,529.35,530.40,529.05,529.30,3,27,1,69.0,529.30,0,529.20,530.15,529.70,529.95,529.725000,529.666667
129142,2022-01-27 15:05:00+05:30,529.20,529.95,529.00,529.05,3,27,1,70.0,528.30,0,529.70,529.95,529.50,529.70,529.641667,529.416667
129143,2022-01-27 15:10:00+05:30,529.10,529.70,528.85,529.30,3,27,1,71.0,528.95,0,529.50,529.70,530.10,529.50,529.575000,529.216667

In [27]:
train['Tar']=train['Open_lag']-train['Open']
train['Tar']=train['Tar'].map(lambda a : int(a>0))
test['Tar']=test['Open_lag']-test['Open']
test['Tar']=test['Tar'].map(lambda a : int(a>0))

In [16]:
test

,Datetime,Open,High,Low,Close,day_week,day_month,month,time,Open_lag,Tar
130047,2022-02-15 09:15:00+05:30,552.50,557.10,551.00,557.10,1,15,2,0.0,558.85,1
130048,2022-02-15 09:20:00+05:30,556.80,558.55,556.20,557.95,1,15,2,1.0,557.65,1
130049,2022-02-15 09:25:00+05:30,557.65,558.80,556.65,558.40,1,15,2,2.0,556.60,0
130050,2022-02-15 09:30:00+05:30,558.85,559.35,557.50,557.65,1,15,2,3.0,553.45,0
130051,2022-02-15 09:35:00+05:30,557.65,557.65,556.55,556.90,1,15,2,4.0,551.45,0
...,...,...,...,...,...,...,...,...,...,...,...
130342,2022-02-18 15:05:00+05:30,548.90,549.10,548.05,548.40,4,18,2,70.0,547.30,0
130343,2022-02-18 15:10:00+05:30,548.45,548.50,548.00,548.00,4,18,2,71.0,547.05,0
130344,2022-02-18 15:15:00+05:30,548.00,548.10,546.90,547.25,4,18,2,72.0,NaN,0
130345,2022-02-18 15:20:00+05:30,547.30,547.40,547.05,547.05,4,18,2,73.0,NaN,0
130346,2022-02-18 15:25:00+05:30,547.05,547.05,546.00,546.20,4,18,2,74.0,NaN,0

In [28]:
# functions to make features

def make_lag(label,lags):
    for i in lags:
        print(f"'{label}_lag_{i}',",end='')
        test[f'{label}_lag_{i}']=test[label].shift(i)
        train[f'{label}_lag_{i}']=train[label].shift(i)

def moving_avg(label,lags):
    for i in lags: 
        print(f"'{label}_moving_avg_{i}',",end='')
        train[f'{label}_moving_avg_{i}']=train[label].rolling(window=i, center=False).mean()
        test[f'{label}_moving_avg_{i}']=test[label].rolling(window=i, center=False).mean()

In [29]:
make_lag('Open',[6,3])
make_lag('Close',[6,3])
# make_lag('High',[6,12,3])
# make_lag('Low',[6,12,3])

moving_avg('Open',[6,3])
# moving_avg('Close',[6,12,3])
# moving_avg('High',[6,12,3])
# moving_avg('Low',[6,12,3])

'Open_lag_6','Open_lag_3','Close_lag_6','Close_lag_3','Open_moving_avg_6','Open_moving_avg_3',

In [30]:
# Final Data for the model
features = [
    "Open",
    "High",
    "Low",
    "Close",
    "day_week",
    "day_month",
    "month",
    "time",
    "Open_lag_6",
    # "Open_lag_12",
    "Open_lag_3",
    "Close_lag_6",
    "Close_lag_3",
    # "High_lag_6",
    # "High_lag_12",
    # "High_lag_3",
    # "Low_lag_6",
    # "Low_lag_12",
    # "Low_lag_3",
    "Open_moving_avg_6",
    # "Open_moving_avg_12",
    "Open_moving_avg_3",
    # "Close_moving_avg_6",
    # "Close_moving_avg_12",
    # "Close_moving_avg_3",
    # "High_moving_avg_6",
    # "High_moving_avg_12",
    # "High_moving_avg_3",
    # "Low_moving_avg_6",
    # "Low_moving_avg_12",
    # "Low_moving_avg_3",
]
train = train.dropna(axis=0)
test = test.dropna(axis=0)
X_train = train[features]
y_train = train["Tar"]
X_test = test[features]
y_test = test["Tar"]

In [31]:
# Making model 
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [34]:
correct = 0
super_correct = 0
predictions = list(model.predict(X_test))
wrong = 0
confidence =0.45
for i in range(len(predictions)):
    if (predictions[i] > 0.5 and list(y_test)[i] == 1) or (
        predictions[i] < 0.5 and list(y_test)[i] == 0
    ):
        correct += 1
    if (predictions[i] > 0.5 + confidence and list(y_test)[i] == 1) or (
        predictions[i] < 0.5 - confidence and list(y_test)[i] == 0
    ):
        super_correct += 1
    if (predictions[i] > 0.5 + confidence and list(y_test)[i] == 0) or (
        predictions[i] < 0.5 - confidence and list(y_test)[i] == 1
    ):
        wrong += 1
print(f'Total { correct} out of {len(predictions)} are correct')
print(f'Accuracy is {correct/len(predictions)*100} % ')
print(f'Total { super_correct} out of {super_correct+wrong} are super correct')
print(f'Super accuracy is {super_correct*100/(super_correct+wrong)}')

Total 834 out of 1191 are correct
Accuracy is 70.02518891687657 %
Total 39 out of 40 are super correct
Super accuracy is 97.5

In [33]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(list(y_test),predictions)

0.4249464240697192